<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Once those seeds wear off Morty</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <h2> DOES APP.JS EVEN MATTER</h2>
    <h2> The world is full of bad people Morty. They'll tear us apart Morty. We're gonna run around we're gonna do all kinds of wonderful things Morty.</h2>
    <div id="react"></div>

    <script src="built/bundle.js"></script>

</body>
</html>