<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Once those seeds wear off Morty</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
    <h1>sbRct1/src/main/resources/templates/index.html</h1>
    <h2> The world is full of bad people Morty. They'll tear us apart Morty. We're gonna run around we're gonna do all kinds of wonderful things Morty.</h2>
    <iframe href="/public/index.html" name="targetframe" allowTransparency="true" scrolling="no" frameborder="0" >
    </iframe>

    <div id="react"></div>

    <script href="/src/main/js/App.js"></script>

</body>
</html>